{{define "completed-item"}}
<li 
    class="list-group-item d-flex bg-secondary justify-content-between align-items-center" 
    id="item-{{- .Id}}"
>
    {{ .Name }}

    <form 
        hx-delete="/{{ .SLID }}/complete-item/{{ .Id }}"
        hx-target="#item-{{- .Id}}"
        hx-swap="delete"
        id="complete-item-form"
    >
    <span 
        class="spinner-border spinner-border-sm htmx-indicator" 
        id="complete-spinner" 
        role="status" 
        aria-hidden="true">
    </span>
        <button 
            type="submit" 
            class="btn btn-danger" 
            id="complete-button"
        >
            Delete
        </button>
    </form>
</li>
{{end}}
