{{define "vanilla-item"}}
<li 
    class="list-group-item d-flex justify-content-between align-items-center" 
    id="item-{{- .Id}}"
>
    {{ .Name }}

    <form 
        hx-get="/shoppinglist/{{ .SLID }}/complete-item/{{ .Id }}"
        hx-target="#item-{{- .Id}}"
        hx-swap="outerHTML"
        id="complete-item-form"
    >
    <span 
        class="spinner-border spinner-border-sm htmx-indicator" 
        id="complete-spinner" 
        role="status" 

        aria-hidden="true">
    </span>
        <button 
            type="submit" 
            class="btn btn-secondary" 
            id="complete-button"
        >
            Done
        </button>
    </form>
</li>
{{end}}
